*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.main{
    display: flex;
    max-height: 940px;
}

.content__left{
    max-width: 50%;
    margin-left: 60px;
    margin-right: 60px;
}